/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.dd-handle.selected {  
  border: 1px solid #FAA937;
  color: #333 !important;
}


.dd-handle.dept-selected {  
  border: 1px solid #ff0000;
  color: #333 !important;
}


.hover {
    cursor: pointer; cursor: hand;
}